<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.lifehackaid.netincomesimulator.dao.AccountDetailMapper">

	<insert id="insertInBulk" parameterType="java.util.List">
		INSERT INTO AccountDetail(Id, category, summary, unitValue, unitAmount,keepValue)
		VALUES
		<foreach collection="list" item="item" separator=",">
			(#{item.Id},
			#{item.category,typeHandler=org.apache.ibatis.type.EnumTypeHandler},
			#{item.summary},#{item.unitValue}, #{item.unitAmount}, #{item.keepValue})
		</foreach>
	</insert>


	<select id="findAllById"
		parameterType="com.lifehackaid.netincomesimulator.entity.AccountDetailEntity">
		SELECT * FROM AccountDetail WHERE Id = #{Id}
	</select>

	<delete id="delete" parameterType="string">
		DELETE FROM AccountDetail WHERE Id = #{Id}
	</delete>
	
</mapper>
